body {
  background: #222222;
  color: white;
  font-family: "Roboto Condensed", Futura, sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5%;
}

header h1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.arrow {
  width: 5%;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-weight: bold;
  font-size: 2em;
  background: #303030;
  color: #888888;
  text-decoration: none;
}

.arrow:hover {
  background: #888888;
  color: #bbbbbb;
}

.arrow-left {
  border-radius: 0em .5em .5em 0em;
}

.arrow-right {
  border-radius: .5em 0em 0em .5em;
}

.grid-container {
  column-count: 3;
  column-gap: 1em;
  row-gap: 1em
}

.grid-item {
  break-inside: avoid;
  padding: 1em;
  box-sizing: border-box;
}

.grid-item img {
  width: 100%;
  height: auto;
  border: 0.5em solid white;
}

@media (max-width: 1400px) {
  .grid-container {
    column-count: 2;
  }
}
@media (max-width: 750px) {
  .grid-container {
    column-count: 1;
  }
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;

  a {
  }
  a:link {
    color: #55F;
  }
  a:visited {
    color: #A5A;
  }
}
